* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  
  body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  header img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 20px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  background-color: #fceef4;
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
}

h2 {
  color: #a56329;
  margin-bottom: 1rem;
}

div {
  margin: 2rem;
}

header img {
  width: 100%;
  height: auto;
}

li {
  padding-left: 1rem;
}

.omelette h1,
p {
  padding-bottom: 1rem;
}

.container h3 {
  font-size: 1.2em;
  color: #811753;
  margin-bottom: 10px;
}

.container ul, .ingredients ul, .instructions ol {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  font-size: 16px;
  color: #5c5b5bed;
  list-style-position: outside;
  margin-left: 1rem;
}

b {
  color: #4a4848e6;
}

hr {
  width: 88%;
  margin: auto;
  border: 1px solid #7272721f;
}

ol>li::marker, .serving {
  color: #814817;
  font-weight: 900;
}

.nutrition-info {
  display: flex;
  border-bottom: 1px solid #7272721f;
  justify-content: space-around;
}