* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Young Serif';
  src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

:root {
  --White: #ffffff;
  --Eggshell: #f3e6d8;
  --WhiteCoffe: #e4ded8;
  --Wenge: #5f574e;
  --DarkCharcoal: #302d2c;
  --Brandy: #854632;
  --DarkRaspberry: #7b284f;
  --Snow: #fff5fa;
}


@media screen and (min-width: 1024px) {
  
  body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  header img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  hr {
    width: 95%;
  }

  .content {
    margin: 6rem;
    padding: 2rem;
    border-radius: 18px;
  }
}

body {
  background-color: var(--Eggshell);
}

.content {
  background-color: var(--White);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  background-color: var(--Snow);
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
}

h1 {
  font-family: 'Young Serif';
}

h2 {
  color: var(--Brandy);
  margin-bottom: 1rem;
  font-family: 'Young Serif';
}

div {
  margin: 2rem;
}

header img {
  width: 100%;
  height: auto;
}

li {
  padding-left: 1rem;
}

.omelette h1, p{
  padding-bottom: 1rem;
}

.container h3 {
  font-family: 'Outfit';
  font-size: 1.2em;
  color: var(--DarkRaspberry);
  margin-bottom: 10px;
}

.container ul, .ingredients ul, .instructions ol {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  font-size: 16px;
  color: var(--Wenge);
  list-style-position: outside;
  margin-left: 1rem;
  font-family: 'Outfit';
}

b {
  color: var(--DarkCharcoal);
}

hr {
  width: 88%;
  margin: auto;
  border: 1px solid var(--WhiteCoffe);
}

ol>li::marker{
  color: var(--Brandy);
  font-weight: 900;
}

.serving {
  color: var(--DarkRaspberry);
  font-weight: 800;
}

table {
  width: 100%;
  padding-bottom: 1rem;}

th, td {
  margin: 20px;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--WhiteCoffe);
  font-family: 'Outfit';
}